  .ui-menu {
  width: 200px;
  margin-bottom: 2em;
  }
  .ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
  }
  .ui-autocomplete {
  position: absolute;
  z-index: 1050 !important;
  z-index: 99;
  top: 0;
  left: 0;
  cursor: default;
  }
  .ui-corner-all {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

  .ui-widget {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  }
  .ui-front {
  z-index: 100;
  }
  .ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  }
  .ui-menu .ui-menu-item a.ui-corner-all {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  }
  .ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  font-weight: normal;
  }
  .ui-corner-all {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }
